[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi-ustc"

[packages]
numpy = "*"
pillow = "<10.0.0,>=9.5.0"
click = "*"
moviepy = "*"
imageio-ffmpeg = "*"
requests = "*" # moviepy 要求的，即使你使用了 imageio-ffmpeg，还是必须安装这个

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
