[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi-ustc"

[packages]
numpy = "*"
pillow = "*"
click = "*"
moviepy = "*"

[dev-packages]

[requires]
python_version = "3.6"
